<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo APP</title>

    <link rel="stylesheet" href="/assets/css/semantic.min.css">
  </head>
  <body>

    {{{ body }}}
  
    <script src="/assets/js/semantic.min.js"></script>
  </body>
</html>