<form class="ui form">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" id="password">
  </div>
  <button class="ui button" type="button" id="loginButton">Login</button>
</form>
