<div class="ui stackable menu">
  <div class="item">
    <img src="/images/logo.png">
  </div>
  <a class="item">Features</a>
  <a class="item">Testimonials</a>
  <a class="item">Login</a>
  <a class="item">Register</a>
</div>