<form class="ui form">
  <div class="field">
    <label>Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div class="field">
    <label>Confirm password</label>
    <input type="password" name="confirmPassword" id="confirmPassword">
  </div>
  <button class="ui button" type="button" id="registerButton">Register</button>
</form>
